<div class="artistsMain">
    <div class="sideNav">
      <h3 id="sideNavTitle">MOOD</h3>
      <h6 id="sideNavSubTitle">A Social Music Experience</h6>
      <ul class="navList">
        <li class="navListItem"><a href="/home">Home</a></li>
        <li class="navListItem"><a href="/mood">My MOOD</a></li>
        <li class="navListItem navItemSelected"><a href="/artists">My Artists</a></li>
        <li class="navListItem"><a href="/songs">My Songs</a></li>
      </ul>
    </div>
    <div class="centerContainer">
      <div class="profileContainer">
        <h3 id="profileName">Welcome <%= name %></h3>
      </div>
    </div>
  </div>
  