<div class="landingMain">
  <h1 id="landingTitle">MOOD</h1>
  <h3 id="landingSubTitle">A Social Music Experience</h3>
  <div class="btn-container">
    <button class="btn-std-light">Login with Apple Music</button>
  </div>
  <div class="btn-container">
    <a href="/spotifyLogin">
      <button class="btn-std-light">Login with Spotify</button>
    </a>
  </div>
</div>
